<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abby.elema.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.abby.elema.model.domain.Store">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="localton" jdbcType="VARCHAR" property="localton" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="notifications" jdbcType="VARCHAR" property="notifications" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="mothly_sales" jdbcType="INTEGER" property="mothlySales" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, localton, pic, seller_id, seller_name, notifications, score, mothly_sales, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abby.elema.model.domain.Store">
    insert into store (id, name, localton, 
      pic, seller_id, seller_name, 
      notifications, score, mothly_sales, 
      status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{localton,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{sellerId,jdbcType=INTEGER}, #{sellerName,jdbcType=VARCHAR}, 
      #{notifications,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{mothlySales,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.abby.elema.model.domain.Store">
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="localton != null">
        localton,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="sellerName != null">
        seller_name,
      </if>
      <if test="notifications != null">
        notifications,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="mothlySales != null">
        mothly_sales,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="localton != null">
        #{localton,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null">
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="notifications != null">
        #{notifications,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="mothlySales != null">
        #{mothlySales,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abby.elema.model.domain.Store">
    update store
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="localton != null">
        localton = #{localton,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null">
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="notifications != null">
        notifications = #{notifications,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="mothlySales != null">
        mothly_sales = #{mothlySales,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abby.elema.model.domain.Store">
    update store
    set name = #{name,jdbcType=VARCHAR},
      localton = #{localton,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=INTEGER},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      notifications = #{notifications,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      mothly_sales = #{mothlySales,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllStores" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from store
  </select>
  <select id="getStoreStatus" resultMap="string">
    select
    status
    from store
    where id=#{id,jdbcType=INTEGER}
  </select>
</mapper>